html{
  font-size: 10px;
  line-height: 1.5;
}

body{
  background-color: #E3AFBC;
  color: #4E4E50;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
}


#form-container{
  background-color: #F7F7F7;
  border: solid;
  width: 75%;
  margin:auto;
  border-radius: 5px;
}

.input-box{
  height:20px;
  width:80%;
  border-radius: 5px;
}

.input-box:hover, .dropdown:hover, #textarea:hover, #submit:hover{
  border-color: #9a1750;
}

.dropdown{
  height:25px;
  width:60%;
}

.labels{
  display:inline-block;
  width:40%;
  text-align: right;
  vertical-align: top;
}

.inputs{
  display: inline-block;
  width:40%;
  text-align: left;
  margin-left: 10px;

}

.lists{
  list-style: none;
  padding:0px;
  margin:0px;

}

.container{
  padding:15px 0;
}

#textarea{
width: 80%;
height: 48px;
border-radius: 2px;
}

#submit{
  margin:10px;
  height:30px;
  width:80px;
  border-radius: 5px;
  background-color: #E3E2DF;
  font-size: 1.5rem;
}
